@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Oswald:wght@400;700&family=Pacifico&display=swap");
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container--narrow {
  max-width: 1886px;
  background-color: #f6f6f6;
}
